@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
   
       display: flex;

       align-items: center;
       justify-content: column;
       width: 200vw;
       height: 100vh;
       gap: 30px;
       flex-wrap: wrap;
   }

input{
    background-color: rosybrown;
    color:aliceblue;
    padding: 1px;
    border-width: 0px;
    font-family: 'Chokokutai', cursive;
}
 




 
